/* C/* Navigation Bar Styles */
nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 15px;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #fc5c5c;
}

/* Custom styles for active nav link */


